fastapi==0.115.6
uvicorn[standard]==0.32.1
python-multipart==0.0.20
insightface==0.7.3
onnxruntime==1.20.1
opencv-python-headless==4.10.0.84
Pillow==11.1.0
numpy==1.26.4
slowapi==0.1.9
python-dotenv==1.0.1
psycopg2-binary==2.9.10
sqlalchemy==2.0.36
alembic==1.14.0
cloudinary==1.42.1
pydantic==2.10.4
pydantic-settings==2.7.0
httpx==0.28.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
scipy==1.14.1
scikit-learn==1.6.1
